<h1>Listing sessions</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
 
  <% @session.each do |session| %>
    <tr>
      <td><%= session.title %></td>
      <td><%= session.text %></td>
      <td><%= link_to 'Search', session_path(session) %></td>
    </tr>
  <% end %>
</table>


<%= form_tag(sessions_path, method: :get) do %>
  <%= text_field_tag :title, params[:title] %>
  <%= submit_tag 'Search' %>
<% end %>