<h1>Which session would you like?</h1>
<p>
  <strong>Title:</strong>
  <%= @session.try(:title) %>
</p>
 
<p>
  <strong>About:</strong>
  <%= @session.try(:title)%>
  <%= @session.try(:description)%>
  <%= @session.try(:topic)%>
  
</p>


<%= link_to 'Back', :back %>
