
<!DOCTYPE html>
<html>
  <head>
    <title>Mellow</title>
    <%= csrf_meta_tags %>
<link rel="stylesheet" href="index.css"/>

 </head>

  <body>

<ul class="nav nav-tabs" role="tablist">
  <li><%= link_to 'Mentors', mentors_path %></li>
</ul>

<h1>Welcome to Mellow</h1>

<%= link_to 'Sessions', sessions_path, class: 'btn btn-link' %>

<%= link_to 'Mentors', mentors_path %>

<%= link_to 'Topics', topics_path %>

<%= link_to 'Podcasts', podcasts_path %>

</body>
</html>