

<!DOCTYPE html>
<html>
  <head>
    <title>Mellow</title>
    <%= csrf_meta_tags %>
<link rel='stylesheet' href="ttps://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
 </head>

  <body>
      
      <ul class="nav nav-tabs" role="tablist">
  <li><%= link_to 'Mentors', mentors_path %></li>
</ul>

<h1>Welcome!!!</h1>

<%= link_to 'Sessions', sessions_path, class: 'btn btn-link' %>

<%= link_to 'Mentors', mentors_path %>

<%= link_to 'Topics', topics_path %>

<%= link_to 'Podcasts', podcasts_path %>


</body>
</html>