<h1>Listing podcasts</h1>
<%= link_to 'New podcast', new_podcast_path%>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th colspan="3"></th>
  </tr>
 

  <% @podcasts.each do |podcast| %>
    <tr>
      <td><%= podcast.title %></td>
      <td><%= podcast.text %></td>
      <td><%= link_to 'Show', podcast_path(podcast) %></td>
      <td><%= link_to 'Edit', edit_podcast_path(podcast) %></td>      
      <td><%= link_to 'Destroy', podcast_path(podcast),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>


    </tr>
  <% end %>
</table>

<%= link_to 'Back', :back %>
